#youtube-theme #video-stream iframe {
    width: 100%;
    height: 100%;
}

#youtube-theme aside {
    padding-top: 67px;
    padding-right: 3rem;
}

#youtube-theme .video-more {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#youtube-theme main#streaming {
    order: 0
}

#youtube-theme.full-sidenav.locked {
    overflow: hidden;
}

#youtube-theme.full-sidenav #sidenav {
    transition: left .12s;
}

#youtube-theme.full-sidenav #sidenav .sidenav-header {
    display: flex;
    top: 0;
}

#youtube-theme.full-sidenav #sidenav.show~.overlay {
    display: block;
    background: rgba(0, 0, 0, .6)
}

#youtube-theme main#streaming,
#youtube-theme aside {
    float: left;
}

#youtube-theme #video-info .video-title {
    width: 100%;
    font-size: 1.2rem;
}

#youtube-theme #video-info .video-view {
    color: rgba(0, 0, 0, .8)
}

#youtube-theme #video-info .video-action ul {
    list-style: none;
    margin-bottom: 0;
}

#youtube-theme #video-info .video-action ul li {
    margin: 0 4px;
}

#youtube-theme #video-info .video-action button {
    display: flex;
    align-items: center;
    background: transparent;
    border: 0;
    color: rgba(0, 0, 0, .6);
    font-size: .8rem;
    font-weight: 500;
    padding: 6px;
}

#youtube-theme #video-info .video-action button::after {
    all: unset;
}

#youtube-theme #video-info .video-action button i {
    font-size: 22px;
}

#youtube-theme #video-info .video-action button span {
    margin-left: 6px;
}

#youtube-theme #video-info .video-action .modal .modal-content {
    border-radius: 2px;
}

#youtube-theme #video-info .video-action .modal button, #youtube-theme #video-info .video-action .modal button span {
    all: unset;
}

#youtube-theme #video-info .video-action .modal button {
    cursor: pointer;
}

#youtube-theme #video-info .video-user {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#youtube-theme #video-info .video-user .user-avatar {
    display: block;
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

#youtube-theme .user-avatar img {
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

#youtube-theme #video-info .video-user .user-name {
    font-size: .88rem;
    font-weight: 500;
    line-height: .8rem;
}

#youtube-theme #video-comment .user-name a {
    font-size: .84rem;
    font-weight: 500;
    color: black;
    text-decoration: none;
    margin-right: 4px;
}

#youtube-theme #video-info .video-user .video-publish {
    font-size: .8rem;
    color: rgba(0, 0, 0, .7);
}

#youtube-theme #video-info .video-user~.dropdown-divider {
    display: none;
}

#youtube-theme #video-comment .comment-publish a {
    font-size: .76rem;
    color: rgba(0, 0, 0, .7);
    text-decoration: none;
}

#youtube-theme #video-info .video-desc, #youtube-theme #video-comment .comment-text {
    font-size: .9rem;
}

#youtube-theme #video-comment .comment-text {
    padding-right: 2rem;
}

#youtube-theme #video-info .video-desc {
    margin-left: calc(1rem + 48px);
    margin-right: 136px;
}

#youtube-theme #video-info .video-desc .video-publish {
    display: none;
}

#youtube-theme .simple-btn {
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, .8);
    background: transparent;
    border: 0;
}

#youtube-theme .simple-btn i {
    margin-right: 8px;
}

#youtube-theme .simple-btn.small i {
    font-size: 1rem;
}

#youtube-theme .simple-btn span, #youtube-theme p.show~.textcut-btn::after {
    font-size: .9rem;
    font-weight: 500;
}

#youtube-theme .textcut-btn span {
    font-size: .8rem;
}

#youtube-theme p.show~.textcut-btn span {
    display: none;
    font-size: .8rem;
}

#youtube-theme p.show~.textcut-btn::after {
    display: block;
    content: "SHOW LESS";
    font-size: .8rem;
}

#youtube-theme .simple-btn.small span, #youtube-theme .simple-btn.small ~ span {
    font-size: .8rem;
}

#youtube-theme #video-comment .user-avatar {
    min-width: 40px;
}

#youtube-theme .user-comment input {
    border: 0;
    border-bottom: 1px solid rgba(0,0,0,.2);
    outline: 0;
    font-size: .9rem;
}

#youtube-theme #video-comment .comment-action {
    margin-top: 1rem;
}

#youtube-theme #video-comment .comment-action ul {
    list-style: none;
    display: flex;
    align-items: center;
}

#youtube-theme #video-comment .comment-action ul li {
    display: inline-flex;
    align-items: center;
    margin-right: 1rem;
}

#youtube-theme #video-comment .comment-action button, #youtube-theme #video-comment .comment-action span {
    color: rgba(0,0,0,.4);
}

@media only screen and (min-width: 0) and (max-width: 686px) {
    #youtube-theme #streaming-container {
        height: 100% !important;
    }

    #youtube-theme #video-stream {
        width: 100%;
        height: 270px;
    }

    #youtube-theme main.no-sideshort {
        padding-left: 2rem !important;
    }

    #youtube-theme #video-info .video-view {
        width: 100%;
    }

    #youtube-theme #video-info .video-more {
        justify-content: unset;
        flex-direction: column;
    }

    #youtube-theme #video-info .video-user .video-publish {
        display: none;
    }

    #youtube-theme #video-info .video-user~.dropdown-divider, #youtube-theme #video-info .video-desc .video-publish {
        display: block;
    }

    #youtube-theme #video-info .video-action {
        margin-top: 10px;
        width: 100%;
    }

    #youtube-theme #video-info .video-action ul {
        justify-content: space-between;
    }

    #youtube-theme #video-info .video-action button {
        padding: 6px 8px;
        flex-direction: column;
    }

    #youtube-theme #video-info .video-action button span {
        margin-top: 6px;
        margin-left: 0;
    }

    #youtube-theme #video-info .video-desc {
        margin-left: 0;
        margin-right: 0;
    }

    #youtube-theme #video-comment {
        order: 2;
        margin-top: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    #youtube-theme aside {
        width: 100%;
        order: 1;
        padding-top: 0;
        padding-right: 2rem;
        padding-left: 2rem;
    }

    #youtube-theme aside.container {
        max-width: unset;
    }
}

@media only screen and (min-width: 687px) and (max-width: 763px) {
    #youtube-theme #streaming-container {
        height: 100% !important;
    }

    #youtube-theme #video-stream {
        width: 100%;
        height: 400px;
    }

    #youtube-theme main.no-sideshort {
        padding-left: 2rem !important;
    }

    #youtube-theme #video-comment {
        order: 2;
        margin-top: 2rem;
        padding-left: 2rem;
    }

    #youtube-theme aside {
        width: 100%;
        order: 1;
        padding-top: 0;
        padding-right: 2rem;
        padding-left: 2rem;
    }

    #youtube-theme aside.container {
        max-width: unset;
    }
}

@media only screen and (min-width: 764px) and (max-width: 973px) {
    #youtube-theme #streaming-container {
        height: 100% !important;
    }

    #youtube-theme #video-stream {
        width: 100%;
        height: 360px;
    }

    #youtube-theme main.no-sideshort {
        padding-left: 2rem !important;
    }

    #youtube-theme #video-comment {
        order: 2;
        margin-top: 2rem;
        padding-left: 2rem;
    }

    #youtube-theme aside {
        width: 100%;
        order: 1;
        padding-top: 0;
        padding-right: 2rem;
        padding-left: 2rem;
    }

    #youtube-theme aside.container {
        max-width: unset;
    }
}

@media only screen and (min-width: 974px) and (max-width: 1141px) {
    #youtube-theme #streaming-container {
        height: 100% !important;
    }

    #youtube-theme #video-stream {
        width: 100%;
        height: 390px;
    }

    #youtube-theme main.no-sideshort {
        padding-left: 1.5rem !important;
        padding-right: 1.5rem;
    }

    #youtube-theme #video-comment {
        order: 2;
        margin-top: 2rem;
        padding-left: 2rem
    }

    #youtube-theme aside {
        width: 100%;
        order: 1;
        padding-top: 0;
        padding-right: 2rem;
        padding-left: 2rem;
    }

    #youtube-theme aside.container {
        max-width: unset;
    }
}

@media only screen and (min-width: 1142px) and (max-width: 1357px) {
    #youtube-theme #video-stream {
        height: 400px;
    }

    #youtube-theme main.no-sideshort,
    #youtube-theme #video-comment {
        padding-left: 3rem !important;
    }

    #youtube-theme main#streaming,
    #youtube-theme #video-comment {
        width: 730px;
    }

    #youtube-theme #video-comment {
        order: 1;
    }

    #youtube-theme aside {
        width: calc(100% - 730px);
        order: 2;
    }

    #youtube-theme #streaming-container {
        height: 1400px;
    }

    #youtube-theme .user-comment input {
        width: calc(730px - 42px - 4rem); 
    }
}

@media only screen and (min-width: 1358px) {
    #youtube-theme #video-stream {
        height: 482px;
    }

    #youtube-theme main.no-sideshort,
    #youtube-theme #video-comment {
        padding-left: 3rem !important;
    }

    #youtube-theme main#streaming,
    #youtube-theme #video-comment {
        width: 850px;
    }

    #youtube-theme #video-comment {
        order: 1;
    }

    #youtube-theme aside {
        width: calc(100% - 850px);
        order: 2;
    }

    #youtube-theme #streaming-container {
        height: 1400px;
    }

    #youtube-theme .user-comment input {
        width: calc(850px - 42px - 4rem); 
    }
}

@media only screen and (min-width: 0) and (max-width: 445px) {
    #youtube-theme main.no-sideshort {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }

    #youtube-theme #video-stream {
        width: 100%;
    }

    #youtube-theme #video-info .video-user .video-publish {
        display: none;
    }

    #youtube-theme #video-info .video-user~.dropdown-divider, #youtube-theme #video-info .video-desc .video-publish {
        display: block;
    }

    #youtube-theme #video-info .video-view {
        width: 100%;
    }

    #youtube-theme #video-info .video-more {
        justify-content: unset;
        flex-direction: column;
    }

    #youtube-theme #video-info .video-action {
        margin-top: 10px;
        width: 100%;
    }

    #youtube-theme #video-info .video-action ul {
        justify-content: space-between;
    }

    #youtube-theme #video-info .video-action button {
        padding: 6px 8px;
        flex-direction: column;
    }

    #youtube-theme #video-info .video-action button span {
        margin-top: 6px;
        margin-left: 0;
    }

    #youtube-theme #video-info .video-desc {
        margin-left: 0;
    }

    #youtube-theme aside {
        padding-right: 1rem;
        padding-left: 1rem;
    }

    #youtube-theme #video-comment {
        padding-right: 1rem;
        padding-left: 1rem;
    }
}